<table class="table table-sm">
<thead>
  <th>Category Name</th>
  <th></th>
</thead>
<ng-container *ngFor="let item of categoryArray">
<tr class="table-dark">
<td>{{item.categoryName}}</td>
<td>
  <button class="btn btn-outline-info" (click)="customerService.populateCategory(item)">Edit</button>
  <button class="btn btn-outline-danger" (click)="onDelete(item.Id)">Delete</button>
</td>
</tr>
</ng-container>
</table>
<div class="alert alert-primary" *ngIf="showDeleteMessage">
  Delete Successfully
</div>